<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Total Customers</h4>
                    <p class="card-text">{{count}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Total Merchants</h4>
                    <p class="card-text">Coming Soon...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Total Staffs</h4>
                    <p class="card-text">Coming Soon...</p>
                </div>
            </div>
        </div>
    </div>
</div>