<!-- <div class="container">
    <div class="row mt-5">
        <select id="mylist">
            <option value="">Select one</option>
            <option value="firstname">firstname</option>
            <option value="lastname">lastname</option>
            <option value="fullname">fullname</option>
        </select>
        <div class="ui-widget">
            <label for="tags">Tags:</label>
            <input id="tags" />
        </div>
    </div>
    <div class="filter row mt-5">
        <div class="col-6">         
           Title: <input type="text" id="myInput" (keyup)="addFilter('title', $event)" placeholder="Search for title" title="Type in a name">
        </div>
        <div class="col-6">
            Body: <input type="text" id="myInput" (keyup)="addFilter('body', $event)" placeholder="Search for title" title="Type in a name">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-6 item" *ngFor="let post of posts; let i=index" style="margin-bottom: 25px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{post.title}}</h4>
                    <p class="card-text">{{post.body}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<router-outlet></router-outlet>